* {
	box-sizing: border-box;
	font-family: 'Lato';

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

a {
	color: inherit;
	text-decoration: inherit;
}

a:hover {
	color: #3498db;
	text-decoration: none;
}

/*HEADER*/

header {
	position: relative;
	width: auto;
	height: auto;
	margin-bottom: 20vh;
}

header h1 {
	font-size: 3.5em;
	font-weight: 400;
	text-align: center;
	margin-top: 5%;
	margin-bottom: 0;
}

header h2 {
	text-align: center;
	font-weight: 400;
	font-size: 1.5em;
	margin-bottom: 5%;
}

.subtitle {
	font-size: 1em;
}

.social_media {
	width: auto;
	text-align: center;
}

.social_media a {
	font-size: 2em;
	text-decoration: none;
	padding: 5px 5px 5px 5px;
	color: rgb(70, 70, 70);
}

.social_media a:hover {
	text-decoration: none;
	color: #3498db;
}

/*BODY SECTION*/

section {
	width: 70vw;
	min-height: 100vh;
	height: auto;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30vh;

	overflow: hidden;
}


/*PORTFOLIO TAB NAVIGATIONS*/

.site-left {
	width: 100%;
	height: 30vh;
	float: right;
	margin-bottom: 3%;
	position: relative;
	left: 30%;

	overflow: hidden;
}

.site-left:hover {
	left: 0;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
}

.site-right {
	width: 100%;
	height: 30vh;
	float: left;
	margin-bottom: 3%;
	position: relative;
	right: 30%;

	overflow: hidden;
}

.site-right:hover {
	right: 0;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
}

/*PORTFOLIO BACKGROUND-IMAGES LOADING*/
/*Don't understand why pictures aren't showing...*/
.oybek-image {
	background-image: url("../images/oybek.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.blog-image {
	background-image: url("../images/johnny.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/*PORTFOLIO SHADOWING AND TEXT ON HOVER*/

.description-left,
.description-right {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;

  text-align: center;
  font-size: 5.5vw;
  font-weight: 300;
  text-shadow: 1px 1px 4px #202020;
  color: #fff;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: visibility opacity 0.2s;
  -moz-transition: visibility opacity 0.2s;
  -o-transition: visibility opacity 0.2s;
  transition: visibility opacity 0.2s;
}

.description-left p,
.description-right p {
	position: absolute;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
	text-align: center;
}

.description-left:hover,
.description-right:hover {
	color: #fff;
	text-decoration: none;
}


.site-left:hover .description-left {
	left: 0;
  visibility: visible;
  opacity: 1;
}

.site-right:hover .description-right {
	right: 0;
  visibility: visible;
  opacity: 1;
}

/*CONTACT SECTION*/

.contact_container {
	width: 50vw;
	height: auto;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40vh;
	text-align: center;
}

.contact_container img {
	width: 120px;
	height: 120px;
	border-radius: 100%;
	margin-bottom: 3%;
}

.contact_container h1 {
	font-size: 2.5em;
	font-weight: 400;
}

.contact_button {

	padding: 10px 30px 10px 30px;
	background-color: gray;
	text-decoration: none;
	color: white;
	font-size: 1.5em;
}

.contact_button:hover {
	text-decoration: none;
	color: white;
	background-color: #3498db;
	padding: 20px 30px 20px 30px;
	box-shadow: 0px 8px #2980b9;
	text-shadow: 2px 2px 1px #2980b9;
}

/*FOOTER*/

footer {
	position: relative;
	bottom: 0px;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	left: 50%;
}

footer p {
	text-align: center;
}